// COLORS

$color-primary-light: #5CCA39;
$color-primary: #3AA618;
$color-primary-dark: #1A6A00;

$color-grey-dark: #333;
$color-white: #fff;
$color-black: #000;

$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-instagram: #e4405f;
$color-linkedin: #0077B5;

// GRID

$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;


// FONT

$font-size-primary: 1.7rem;

// MARGINS

$margin-bottom: 5rem;
$margin-respond: 5rem;